### IntelliJ IDEA ###
.idea
!ecommerce-backend/src/main/**/target/
*.iws
*.iml
*.ipr
HELP.md
!.mvn/wrapper/maven-wrapper.jar
target/
!**/src/main/**/out/
!**/src/test/**/out/
!**/src/main/**/target/
!**/src/test/**/target/

### VS Code ###
.vscode/
.history/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Compiled class file
*.class

# Log file
*.log

# Gradle
.gradle
!gradle-wrapper.jar
!gradle-wrapper.properties

