### IntelliJ IDEA ###
.idea
!ecommerce-backend/src/main/**/target/
*.iws
*.iml
*.ipr
HELP.md
!.mvn/wrapper/maven-wrapper.jar
target/
!**/src/main/**/out/
!**/src/test/**/out/
!**/src/main/**/target/
!**/src/test/**/target/

### VS Code ###
.vscode/
.history/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### Java | Spring Boot (Backend) ###
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# Compiled class file
*.class

# Log file
*.log

### Angular (Frontend) ###
# compiled output
dist/
tmp/
app/**/*.js
app/**/*.js.map

# dependencies
node_modules/
bower_components/

# misc
.sass-cache/
connect.lock/
coverage/
libpeerconnection.log/
typings/
.angular/
npm-debug.log
testem.log

# e2e
e2e/*.js
e2e/*.map

# System Files
.DS_Store/
